VITE_TK_ENV=preview

# Service variables:
VITE_TREBLE_DEBUG=false
VITE_TREBLE_SCRIPTS=false

# Threekit orgId and assetId (preview)
VITE_TK_PUBLIC_TOKEN=8c6efb7d-49d1-4803-8ff9-bf93cb59cb2a
VITE_TK_ASSET_ID=bf035e86-2944-4fb3-93a5-6f85062e09f5
VITE_TK_ORG_ID=470c5a1d-7738-40ef-bc97-f267c485dbc5

# Threekit orgId and assetId (admin-fts)
VITE_TK_ADMIN_FTS_PUBLIC_TOKEN=
VITE_TK_ADMIN_FTS_ASSET_ID=
VITE_TK_ADMIN_FTS_ORG_ID=
